<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app">
        <p >{{remaining}}/{{list.length}}</p>      
        <input type="text" v-model="addText" placeholder="ToDoを入力して">
        <button v-on:click="addToDo()">追加</button>
        <button v-on:click="deleteBtn()">削除</button><br>
        <input type="text" v-model="keyword"><hr>
        <div v-if="keyword">
          <ul v-for="ls in searchList">
            <li>
              <span v-bind:class="{ done: ls.isChecked }">
                <input type="checkbox" v-model="ls.isChecked" >{{ ls.text }}
            </span>
            </li>
          </ul>
        </div>
        <div v-else>

          <div v-if="list.length">
  
            <ul v-for="todo in list" >
                <li>
                    <span v-bind:class="{ done: todo.isChecked }">
                        <input type="checkbox" v-model="todo.isChecked">{{ todo.text }}
                    </span>
                </li>
            </ul>
          </div>
          <div v-else>
            <p>現在タスクはありません</p>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>